name: Conduit-Orchestrator-Workflow

on:
  workflow_dispatch:

jobs:
  step:
    name: Connect
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote SSH commands using password
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH }}
          port: ${{ secrets.PORT }}
          script: whoami
